@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.sidenav {
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: #292c35;
}

.sidenav .main-buttons {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    color: #fff;
}
.sidenav .main-buttons li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.sidenav a {
    color: azure;
}

.sidenav fa-icon {
    color: #ff4e02;
}

.sidenav .main-buttons > li {
    padding: 5px 20px;
}

.sidenav .main-buttons > li .fa {
    position: absolute;
    left: 12px;
    color: #414655;
}

.sidenav .main-buttons > li:hover,
.sidenav .main-buttons > li:active,
.sidenav .main-buttons > li:focus {
    background-color: #363636;
    cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden,
.sidenav .main-buttons > li:active .hidden,
.sidenav .main-buttons > li:focus .hidden {
    width: 228px;
}

.navbar-title {
    color: #ff4e02;
}

.hidden {
    width: 0;
    height: 100%;
    padding: 64px 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #363636;
}
.hidden li {
    padding: 16px 24px;
}
.hidden li:hover,
.hidden li:active,
.hidden li:focus {
    background-color: #323541;
}
body {
    background-color: #caccd6;
    line-height: 30px;
}
html,
body {
    height: 100%;
}

@media (max-width: 1048) {
    .sidenav .main-buttons li {
        font-size: 12px;
    }
}

/* ------------- MENUS ------------- */

/* Bordure blanche de 1 pixel sur les cases du menu */
.menus_items {
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #000;
    border-radius: 3px;
    list-style-type: none;
    position: relative;
}

.side-bar-title a {
    color: #ffffff;
}

.menu-element {
    color: antiquewhite;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded='false']::after {
    content: ' \f0d7';
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded='true'] {
    background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded='true']::after {
    content: ' \f0da';
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item {
    padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width: 48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in,
    #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: 0.75rem 0.5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded='true']::after,
    #sidebar .list-group > .list-group-item[aria-expanded='false']::after {
        display: none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#sidebar.collapsing {
    opacity: 0.8;
    width: 0;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo-img {
    height: 100%;
    background: url('../../../content/images/logo-entete.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-UGAChain {
    height: 100%;
    background: url('../../../content/images/UGAChain-logo.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.logo .logo-UGAChain {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-UGA {
    height: 100%;
    background: url('../../../content/images/UGA-logo.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.logo .logo-UGA {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}
