<nav class="sidenav">
    <ul class="main-buttons">
        <fa-icon icon="home"></fa-icon>
        <li>
            <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
                <span class="logo-UGAChain"></span>
                <span class="navbar-title">UGAChain</span>
            </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                <span>
                    <fa-icon icon="home"></fa-icon>
                    <span>Accueil</span>
                </span>
            </a>
        </li>
        <li *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLink="request" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                <span>
                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                    <span>Logs</span>
                </span>
            </a>
        </li>
        <li *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" href="javascript:void(0);" id="admin-menu">
                <span>
                    <fa-icon icon="user-plus" class="logo"></fa-icon>
                    <span>Administration</span>
                </span>
            </a>
            <ul class="hidden">
                <li>
                    <a routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="tachometer-alt" fixedWidth="true" class = "logo"></fa-icon>
                        <span>Metrics</span>
                    </a>
                </li>
                <li>
                    <a routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="heart" fixedWidth="true" class="logo"></fa-icon>
                        <span>Health</span>
                    </a>
                </li>
                <li>
                    <a routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="list" class="logo" fixedWidth="true"></fa-icon>
                        <span>Configuration</span>
                    </a>
                </li>
                <li>
                    <a routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="bell" class="logo"  fixedWidth="true"></fa-icon>
                        <span>Audits</span>
                    </a>
                </li>
                <li>
                    <a  routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="tasks" class="logo" fixedWidth="true"></fa-icon>
                        <span>Logs</span>
                    </a>
                </li>
                <li *ngIf="swaggerEnabled">
                    <a routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="book" class="logo" fixedWidth="true"></fa-icon>
                        <span>API</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                <li *ngIf="!inProduction">
                    <a href='./h2-console' target="_tab" (click)="collapseNavbar()">
                        <fa-icon icon="hdd" fixedWidth="true"></fa-icon>
                        <span>Database</span>
                    </a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" href="javascript:void(0);" id="account-menu">
              <span *ngIf="!getImageUrl()">
                <fa-icon icon="user"></fa-icon>
                <span>
                  Compte
                </span>
              </span>
              <span *ngIf="getImageUrl()">
                  <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
              </span>
            </a>
            <ul class="hidden"  [ngSwitch]="isAuthenticated()">
                <li *ngSwitchCase="true">
                    <a (click)="logout()" id="logout">
                        <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                        <span>Déconnexion</span>
                    </a>
                </li>
                <li *ngSwitchCase="false">
                    <a (click)="login()" id="login">
                        <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                        <span>Se connecter</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>