<div class="container text-center">
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <a class="col-md-3 nav nav-pills nav-stacked" routerLink="" routerLinkActive="active">Accueil</a>
            <a class="col-md-3 nav nav-pills nav-stacked" href="https://air.imag.fr/index.php/RICM5_2018_2019_-_UGAChain">Page air du projet</a>
            <a class="col-md-3 nav nav-pills nav-stacked" href="https://gitlab.com/ugachain">Gitlab</a>
        </div>
    </div>
    <hr>
</div>
