<div class="card">
  <div class="card-header">
    {{getComponentTitle()}}
  </div>

  <div class="card-body">
        <div class="uploadfilecontainer" (click)="fileInput.click()" jhi-dragdrop (onFileDropped)="dragFile($event)">
            <p class="card-title"> {{getCardBodyText()}} </p>
            <input hidden type="file" #fileInput (change)="uploadFile($event)" multiple hidden>
        </div>

        <button (click)="submit()" *ngIf="uploadedFiles.length !== 0" type="submit" class="btn" [ngClass]="{
          'btn-success': this.editionType === editionTypePossibilities.ADDITION || this.editionType === editionTypePossibilities.REVALIDATION,
          'btn-danger': this.editionType === editionTypePossibilities.FRAUD_REPORT || this.editionType === editionTypePossibilities.INVALIDATION
        }">{{getSubmitButtonName()}}</button>
    <div *ngIf="uploadedFiles.length !== 0">
      <br>
      <h5>Fichier{{uploadedFiles.length > 1 ? 's' : ''}} sélectionné{{uploadedFiles.length > 1 ? 's' : ''}}</h5>


      <div class="list-group list-group-flush">
        <div *ngFor="let uploadedFile of uploadedFiles" class="files-list">
          <p> {{uploadedFile.metadata.name}} </p>
          <button class="delete-files" (click)="deleteAttachement(i)">
            <fa-icon icon="trash-alt" fixedWidth="true"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    
    

    <!-- Running queries -->
    <div *ngIf="runningQueries.length !== 0">
      <h5>Édition{{runningQueries.length > 1 ? 's' : ''}} en cours</h5>
      <div *ngFor="let query of runningQueries">
        <div class="col alert alert-primary">
          {{getQueryFilename(query)}} requête en cours...
        </div>
      </div>
    </div>

    <!-- Error queries -->
    <div *ngIf="errorQueries.length !== 0">
      <h5>
        Erreur{{errorQueries.length > 1 ? 's' : ''}}
      </h5>
      <div *ngFor="let query of errorQueries">
        <div class="col alert alert-danger">
          {{getQueryFilename(query)}} : {{query.errorMessage}}
          {{query.errorCode ? '(erreur ' + query.errorCode + ')' : ''}}
        </div>
      </div>
    </div>

    <!-- Success queries -->
    <div *ngIf="successQueries.length !== 0">
      <h5>Édition{{successQueries.length > 1 ? 's' : ''}} réussie{{successQueries.length > 1 ? 's' : ''}}</h5>
      <div *ngFor="let query of successQueries">
        <!-- <qrcode class="col-md-auto" [qrdata]="query.resultingTransactionID" [size]="128" [level]="'M'"></qrcode> -->
        <div class="col-md-auto alert alert-success">
          {{getSuccessMessage(query)}}
        </div>
      </div>
    </div>

  </div>
</div>
