<jhi-page-ribbon></jhi-page-ribbon>
<div class="row" style="padding-left: unset;">
<div class="col-md-3 col-sm-3 col-xs-3" style="padding-left: unset;">
    <router-outlet name="sidebar"></router-outlet>
</div>
<div class="col-md-9 col-sm-9 col-xs-8" id="cards">
    <div class="card jh-card ">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
</div>
