<div class="card">
  <div class="card-header">
    Vérifier un diplôme
  </div>
  <div class="card-body">

    <div class="uploadfilecontainer" (click)="fileInput.click()" jhi-dragdrop (onFileDropped)="dragFile($event)">
      <p class="card-text">Glisser vos fichier ou cliquer</p>
      <input hidden type="file" #fileInput (change)="uploadFile($event)" multiple hidden>
    </div>


    <button (click)="submit()" *ngIf="uploadedFiles.length !== 0" class="btn btn-primary">Vérifier</button>


  <div *ngIf="uploadedFiles.length !== 0">
  <br>
  <h5>Fichier{{uploadedFiles.length > 1 ? 's' : ''}} sélectionné{{uploadedFiles.length > 1 ? 's' : ''}}</h5>

  <div class="list-group list-group-flush">
    <div *ngFor="let uploadedFile of uploadedFiles" class="files-list">
      <p> {{uploadedFile.metadata.name}} </p>
      <button class="delete-files" (click)="deleteAttachement(i)">
        <fa-icon icon="trash-alt" fixedWidth="true"></fa-icon>
      </button>
    </div>
  </div>
  </div>


    <!-- Ongoing queries -->
    <div *ngIf="ongoingQueries.length !== 0">
      <h5>
        Vérification{{ongoingQueries.length > 1 ? 's' : ''}} en cours
      </h5>
      <div *ngFor="let query of ongoingQueries">
        <div class="col alert alert-info">
          {{getQueryFilename(query)}} requête en cours...
        </div>
      </div>
    </div>

    <!-- Error queries -->
    <div *ngIf="errorQueries.length !== 0">
      <h5>
        Erreur{{errorQueries.length > 1 ? 's' : ''}}
      </h5>
      <div *ngFor="let query of errorQueries">
        <div class="col alert alert-danger">
          {{getQueryFilename(query)}} : {{query.errorMessage}}
          {{query.errorCode ? '(erreur ' + query.errorCode + ')' : ''}}
        </div>
      </div>
    </div>

    <!-- Valid queries -->
    <div *ngIf="validQueries.length !== 0">
      <h5>
        Diplôme{{validQueries.length > 1 ? 's' : ''}} valide{{validQueries.length > 1 ? 's' : ''}}
      </h5>
      <div *ngFor="let query of validQueries" class="row">
        <!-- <qrcode class="col-md-auto" [qrdata]="query.hash" [size]="128" [level]="'M'"></qrcode> -->
        <div class="col-md-auto alert alert-success">
          Le fichier {{getQueryFilename(query)}} correspond bien à un diplôme ayant été ajouté dans UGAChain
        </div>
      </div>
    </div>

    <!-- not found queries -->
    <div *ngIf="notFoundQueries.length !== 0">
      <h5>
        Diplôme{{notFoundQueries.length > 1 ? 's' : ''}} non trouvé{{notFoundQueries.length > 1 ? 's' : ''}}
      </h5>
      <div *ngFor="let query of notFoundQueries">
        <div class="col alert alert-danger">
          Le fichier {{getQueryFilename(query)}} n'est pas présent dans UGAChain
        </div>
      </div>
    </div>

    <!-- Invalid queries -->
    <div *ngIf="invalidQueries.length !== 0">
      <h5>
        Diplôme{{invalidQueries.length > 1 ? 's' : ''}} invalide{{invalidQueries.length > 1 ? 's' : ''}}
      </h5>
      <div *ngFor="let query of invalidQueries">
        <div class="col alert alert-warning">
          Le fichier {{getQueryFilename(query)}} est présent dans UGAChain mais a été invalidé
        </div>
        <!-- {{getQueryIcon(query)}} • {{getQueryFilename(query)}} <br> -->
      </div>
    </div>

    <!-- Fraudulent queries -->
    <div *ngIf="fraudulentQueries.length !== 0">
      <h5>
        Diplôme{{fraudulentQueries.length > 1 ? 's' : ''}} frauduleux
      </h5>
      <div *ngFor="let query of fraudulentQueries">
        <div class="col alert alert-warning">
          Le fichier {{getQueryFilename(query)}} est présent dans UGAChain mais a été marqué comme frauduleux
        </div>
        <!-- {{getQueryIcon(query)}} • {{getQueryFilename(query)}} <br> -->
      </div>
    </div>

  </div>
</div>
