<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-request-heading">Create or edit a Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!request.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="request.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="request.type" id="field_type">
                        <option value="ADDITION">ADDITION</option>
                        <option value="INVALIDATION">INVALIDATION</option>
                        <option value="REVALIDATION">REVALIDATION</option>
                        <option value="FRAUD_REPORT">FRAUD_REPORT</option>
                        <option value="CHECK">CHECK</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                            placeholder="YYYY-MM-DD HH:mm" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hash">Hash</label>
                    <input type="text" class="form-control" name="hash" id="field_hash" [(ngModel)]="request.hash" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requesterLogin">Requester Login</label>
                    <input type="text" class="form-control" name="requesterLogin" id="field_requesterLogin"
                        [(ngModel)]="request.requesterLogin" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
