<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="request">
            <h2><span>Request</span> {{request.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{request.type}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{request.date}}</span>
                </dd>
                <dt><span>Hash</span></dt>
                <dd>
                    <span>{{request.hash}}</span>
                </dd>
                <dt><span>Requester Login</span></dt>
                <dd>
                    <span>{{request.requesterLogin}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/request', request.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
