<div class="container">

    <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="false">
            <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
                Vous devez vous connecter afin d'avoir accès aux fonctions d'ajout de diplôme ou de modification d'état
                d'un diplôme.
            </ngb-alert>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <jhi-check-diploma></jhi-check-diploma>
        </div>
    </div>

    

    <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" class="col-md-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 cards">
                <jhi-edit-diploma [editionType]="additionEditionType"></jhi-edit-diploma>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 cards">
                <jhi-edit-diploma [editionType]="invalidationEditionType"></jhi-edit-diploma>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 cards">
                <jhi-edit-diploma [editionType]="revalidationEditionType"></jhi-edit-diploma>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 cards">
                <jhi-edit-diploma [editionType]="fraudReportEditionType"></jhi-edit-diploma>
            </div>
        </div>
    </div>
</div>
