.app-loading {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
    width: 60%;
    height: 200px;
    background-image: url('../images/ugachain.gif');
    background-position: center;
    background-size: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.app-loading p {
    display: block;
    font-size: 1.17em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
