.uploadfilecontainer {
    background-image: url('../images/dragdrop.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    background-color: rgb(255, 192, 181);
    height: 200px;
    width: 100%;
    margin: 5px auto;
    border: 2px dashed #ff4e02;
    border-radius: 10px;
    box-sizing: unset;
    text-align: center;
}

.uploadfilecontainer p {
    font-family: sans-serif;
    font: bold;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}
img {
    width: 30px;
}
.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 10px;
}

.card-header {
    background-color: #363636;
    color: #ff4e02;
}
